{% extends "base.html.twig" %}
{# STYLESHEET #}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}
{% block breadcrumb %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{{ path('index') }}">Index</a></li>
				<li><a href="{{ path('admin') }}">Admin</a></li>
				<li class="active">Upload</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
{% endblock %}
{% block formImage %}
<div class="section">
	<div class="container">
    	<div class="row">
    	{{ form_start(form, {'attr':{'class':'clearfix'}}) }}
    	
            {{ form_widget(form.url) }}
    	
    	<button type="submit" class="primary-btn full">Send</button><br><br>
        {{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{# JAVASCRIPT #}