{% extends "base.html.twig" %}
{# STYLESHEET #}
{% block header %}{% endblock %}
{% block navigation %}{% endblock %}
{% block breadcrumb %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{{ path('index') }}">Index</a></li>
				<li><a href="{{ path('admin') }}">Admin</a></li>
				<li class="active">Register Products</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->
{% endblock %}
{% block formAdminProducts %}
<div class="section">
	<div class="container">
    	<div class="row">
        {{ form_start(form, {'attr':{'class':'clearfix'}}) }}
        	<div class="billing-details admin-products-form">
        		<div class="section-title"><h3 class="title">Register Product</h3></div>
                <div class="col-md-6 col-sm-6">
                	<div class="form-group">
                        {{ form_widget(form.nomDelArticle,{'attr':{'class':'input','placeholder':'Article name','maxlength':'50'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.status,{'attr':{'class':'input','placeholder':'New'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.soldes,{'attr':{'class':'input','placeholder':'20%, 30%, 50%'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.prixAvant,{'attr':{'class':'input','placeholder':'Price before solde'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.prixActuel,{'attr':{'class':'input','placeholder':'Actual Price'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.taille,{'attr':{'class':'input','placeholder':'S / L / M / XL '}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.color,{'attr':{'class':'input','placeholder':'Choose color'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.collection,{'attr':{'class':'input','placeholder':'Summer / autumn / winter / Spring'}}) }}
    				</div>
                </div>
                <div class="col-md-6 col-sm-6">
                   <div class="form-group">
                        {{ form_widget(form.image,{'attr':{'class':'input','placeholder':'Lien de votre image'}}) }}
    				</div>
                   <div class="form-group">
                        {{ form_widget(form.imageobj.url) }}
    				</div>
                   <div class="form-group">
                        {{ form_widget(form.marque,{'attr':{'class':'input','placeholder':'Article marque'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.description,{'attr':{'class':'input','placeholder':'Article description'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.detail,{'attr':{'class':'input','placeholder':'Article détails'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.categorie,{'attr':{'class':'input','placeholder':'Watch / Cloths / Bags / Shoes...'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.display,{'attr':{'class':'input','placeholder':'Show article 1 / 0'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.avaibility,{'attr':{'class':'input','placeholder':'Article avaibility 1 / 0'}}) }}
    				</div>
    				<div class="form-group">
                        {{ form_widget(form.countdowndate) }}
    				</div>
                </div>
        		<button type="submit" class="primary-btn full">Sign</button><br><br>
        	</div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
<div class="section">
	<div class="container">
    		<div class="row">
        		<div class="form-group">{% if listeProduits is not null %}
        		{% for produit in listeProduits %}
        			<div class="col-md-3 col-sm-6 col-xs-6">
        				<div class="product product-single">
                            <div class="product-thumb">
                            <div class="product-label">
                                {% if produit.status is not null %}<span>{{ produit.status }}</span>{% endif %}
                                {% if produit.soldes is not null %}<span class="sale">{{ produit.soldes }}%</span>{% endif %}
                            </div>
                            <ul class="product-countdown">
								<li><span>00 H</span></li>
								<li><span>00 M</span></li>
								<li><span>00 S</span></li>
							</ul>
                              <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                              <img src="{% if produit.imageobj is not null %}{{ produit.imageobj.url }}{% endif %}" alt="">
                            </div>
                            <div class="product-body">
                              <h3 class="product-price">${{ produit.prixActuel }}{% if produit.prixAvant is not null %}<del class="product-old-price">${{ produit.prixAvant }}</del>{% endif %}</h3>
                              <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                              </div>
                              <h2 class="product-name"><a href="/product-page/{{ produit.id  }}">{{ produit.nomDelArticle }}</a></h2>
                              <div class="product-btns">
                                <a href="/admin/products-delete/{{ produit.id }}"></a><button class="main-btn icon-btn"><i class="fa fa-ban"></i></a></button>
                                <a href="/admin/products/{{ produit.id }}"><button class="main-btn icon-btn"><i class="fa fa-cog"></i></a></button>
                              </div>
                            </div>
                         </div>
            		</div>
            		{% endfor %}{% endif %}
        		</div>
    		</div>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
{# JAVASCRIPT #}

       