<div class="menu-nav">
  <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
  <ul class="menu-list">
    <li><a href="{{ path('index') }}">{% trans %}Home{% endtrans %}</a></li>
    <li><a href="{{ path('products') }}">{% trans %}Shop{% endtrans %}</a></li>
    <li><a href="{{ path('women') }}">{% trans %}Women{% endtrans %}</a></li>
    <li><a href="{{ path('men') }}">{% trans %}Men{% endtrans %}</a></li>
  	{% if is_granted('ROLE_ADMIN') %}
  	<li><a style="background-color:#F8694A;" href="{{ path('admin') }}">{% trans %}Admin{% endtrans %}</a></li>
  	{% endif %}
  	{% include 'includes/card.html.twig' %}
  </ul>
</div>