<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>{% block title %}E-SHOP HTML Template{% endblock %}</title>
	{% block stylesheets %}
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/slick.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/slick-theme.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{ asset('js/ajax.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <script>
    /* Fait descendre la barre de navigation lors du scroll de la page */
	document.addEventListener('DOMContentLoaded', function () {
		window.onscroll = function () {
			document.getElementById("navigation").className = (window.pageYOffset > 130) ? "menu-nav-scroll" : "nothing";
		};
	});
    </script>
</head>

<body>
	<!-- HEADER -->
	{% block header %}
	<header>
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				<div class="pull-left">
					<span>{{ welcome.message }}</span>
				</div>
				<div class="pull-right">
					<ul class="header-top-links">
						{% for topLink in topLinks %}
						<li><a class="{{ topLink.classe }}" href="{{ topLink.link }}" name="{{ topLink.nom }}">{{ topLink.nom }}</a></li>
						{% endfor %}
						<li class="dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
							<ul class="custom-menu">
								{% for langue in langues %}
								<li><a href="{{ langue.link }}">{{ langue.lang }} {{ langue.diminutif }}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li class="dropdown default-dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
							<ul class="custom-menu">
								{% for money in moneys %}
								<li><a href="{{ money.link }}">{{ money.type }} {{ money.devise }}</a></li>
								{% endfor %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /top Header -->

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="{{ path('index') }}">
							<img src="{{ asset('img/logo.png') }}" alt="">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Search -->
					<div class="header-search">
						<form>
							<input class="input search-input" type="text" placeholder="Enter your keyword">
							<select class="input search-categories">
								{% for categorieSearch in categorieSearchs %}
								<option value="{{ categorieSearch.valeur }}">{{ categorieSearch.titre }}</option>
								{% endfor %}
							</select>
							<button class="search-btn"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /Search -->
				</div>
				<div class="pull-right">
					<ul class="header-btns">
					
					
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">My Account<i class="fa fa-caret-down"></i></strong>
							</div>
							{% if app.user %}<a href="{{ path('profil') }}" class="text-uppercase">{{ app.user.username }}</a>{% else %}<a href="{{ path('login') }}" class="text-uppercase">{% trans %}Login{% endtrans %}</a>{% endif %} / {% if app.user %}<a href="{{ path('logout') }}" class="text-uppercase">{% trans %}Logout{% endtrans %}</a>{% else %}<a href="{{ path('user_registration') }}" class="text-uppercase">{% trans %}Register{% endtrans %}</a>{% endif %}
							<ul class="custom-menu">
							{% for myAccount in myAccounts %}
								<li><a href="{{ myAccount.link }}"><i class="fa {{ myAccount.cls }}"></i> {{ myAccount.reference }}</a></li>
							{% endfor %}
							{% if app.user %}
		               		<li><a href="{{ path('logout') }}"><i class="fa fa-lock"></i>  {% trans %}Logout{% endtrans %}</a></li>
		               	    {% else %}
		               		<li><a href="{{ path('login') }}"><i class="fa fa-unlock-alt"></i> {% trans %}Login{% endtrans %}</a></li>
		   					<li><a href="{{ path('user_registration') }}"><i class="fa fa-user-plus"></i> {% trans %}Create an account{% endtrans %}</a></li>
		   				    {% endif %}
							</ul>
						</li>
						<!-- /Account -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	{% endblock %}
	<!-- /HEADER -->
	
	<!-- NAVIGATION -->	
	{% block navigation %}
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
				<div class="category-nav {% if app.request.pathinfo != path('index') %}show-on-click{% else %}{% endif %}">
					<span class="category-header">Categories <i class="fa fa-list"></i></span>
					<ul class="category-list">
						{% for categorieListe in categorieListes %}
						<li><a href="{{ categorieListe.link }}">{{ categorieListe.categorie }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<!-- /category nav -->

				<!-- menu nav -->
				{% include 'includes/menuNav.html.twig' %}
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	{% endblock %}
	<!-- /NAVIGATION -->
	
	{% block breadcrumb %}{% endblock %}
	{% block home %}{% endblock %}
	{% block newCollection %}{% endblock %}
	{% block article %}{% endblock %}
	{% block dealsOfTheDay %}{% endblock %}
	{% block recapPromo %}{% endblock %}
	{% block about %}{% endblock %}
	{% block user %}{% endblock %}
	{% block myProfil %}{% endblock %}
	{% block lastestProducts %}{% endblock %}
	{% block selectionDesArticles %}{% endblock %}
	{% block payment %}{% endblock %}
	{% block viewCard %}{% endblock %}
	{% block return %}{% endblock %}
	{% block guide %}{% endblock %}
	{% block faqs %}{% endblock %}		
	{% block listStores %}{% endblock %}
	{% block listeCgv %}{% endblock %}	
	{% block formSignIn %}{% endblock %}
	{% block formAdminProducts %}{% endblock %}
	{% block adminMenu %}{% endblock %}
	{% block formAdminFaq %}{% endblock %}
	{% block formImage %}{% endblock %}
	{% block test %}{% endblock %}
	<!-- FOOTER -->
	{% block footer %}
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<!-- footer logo -->
						<div class="footer-logo">
							<a class="logo" href="{{ path('index') }}">
		            <img src="./img/logo.png" alt="">
		          </a>
						</div>
						<!-- /footer logo -->

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

						<!-- footer social -->
						<ul class="footer-social">
						{% for categorieSocial in categorieSocials %}
							<li><a target="_blank" href="{{ categorieSocial.link }}"><i class="fa {{ categorieSocial.classe }}"></i></a></li>
						{% endfor %}
						</ul>
						<!-- /footer social -->
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">My Account</h3>
						<ul class="list-links">
						{% for myAccount in myAccounts %}
							<li><a href="{{ myAccount.link }}">{{ myAccount.reference }}</a></li>
						{% endfor %}
		                {% if app.user %}
		               		<li><a href="/logout">Logout</a></li>
		               	{% else %}
		               		<li><a href="/login">Login</a></li>
		   					<li><a href="/register">Create an account</a></li>
		   				{% endif %}
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- footer widget -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Customer Service</h3>
						<ul class="list-links">
						{% for footerService in footerServices %}
							<li><a href="{{ footerService.link }}">{{ footerService.nom }}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<div class="col-md-3 col-sm-6 col-xs-6">
					<div class="footer">
						<h3 class="footer-header">Stay Connected</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
						<form>
							<div class="form-group">
								<input id="inputNewsletter" class="input" placeholder="Enter Email Address">
							</div>
							<button id="btnNewsletter" class="primary-btn">Join Newslatter</button>
							<div class="newsletterSucces"></div>
						</form>
					</div>
				</div>
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="/cgv" target="_blank">CGV</a> | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	{% endblock %}
	<!-- /FOOTER -->

	{% block javascripts %}
	<!-- jQuery Plugins -->
	
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/slick.min.js') }}"></script>
	<script src="{{ asset('js/nouislider.min.js') }}"></script>
	<script src="{{ asset('js/jquery.zoom.min.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>
	
	{% endblock %}
</body>

</html>

